@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
/* body */
body{
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* NavBar */
.nav_Bar_Cor{
    background-color:#1f1f1f;
}
.nav_Bar_Items_Font_Color{
    color: white;
    text-shadow:3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000;
}
.nav_Items_Center{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}
.nav_Bar_Items_Gap{
    gap: 5%;
    width: 125%;
}

/* icones */
.social_Media_Icons_Div{
    left: 3%;
    top: 80%;
    gap: 10px;
}
a {
    color: #caa971;
    text-decoration: underline;
}

/* Section */
.containerHeight_900px{
    height: 900px;
}
section{
    height: 100%;
}
.container{
    max-width: 1048px;
}
.header_Statement{
    padding-top: 10%;
}
.align_Color_Fw_Ts{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow:3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000;
}

/* SECTION PRESENTATION */
.presentation_Section{
    background-image: linear-gradient( -45deg, rgb(0, 0, 0) 75%,#48797e);
}
.presentation_Container_Padding{
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome_Statement, .about_Me_Description, .experience_Description{
    margin-bottom: 0;
    text-align: justify;
    color: white;
}
.welcome_Statement_PColor{
    color:#00ff99;
}
.little_Intro{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

/* SECTION ABOUT ME */
.about_Me_Section{
    background-image: linear-gradient( 135deg, rgb(0, 0, 0) 70%,#56cec2);
}
.about_Me_Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about_Me_Description_Div{
    width: 45%;
}
.about_Me_Description, .experience_Description{
    font-size: 16px;
}
.about_Me_Description span{
    color:#00e1ff;
}
.image{
    margin: 40% 0% 33% 37%;
    width: 45%;
    display: flex;
    justify-content: center;
    position: relative;
}
.border{
    width: 45%;
    outline: #005f6b double thick;
    padding: 20%;
    margin: -80% 40%;
}

/* Experience */
.experience_Section{
    background-image: linear-gradient( 45deg, rgb(0, 0, 0) 70%,#56cec2);
}
.experience_Description span{
    color:#00ffaa;
}
.tech_Logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 500px;
}
/* PROJECTS */
.carousel-dark button span{
    transition:0.4s;
    background-color:black;
}
.card-body{
    text-align: center;
}
.projects_Section{
    background-image: linear-gradient( 225deg, rgb(0, 0, 0) 70%,#004f47);
}
.card {
    transition:0.4s;
    display: grid;
    align-items: center;
    width: 18rem;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-image: url(black-background.png);
}
.card:hover{
    transition: 0.2s ease-in;
    background-size: cover;
    background-position: center;
    background-image: url(black-background.jpg);
}
.card h5{
    color:white;
}
.card h6{
    color : #ffbc00;
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #00ffe7;
}
.ul li{
    color: white;
}

/* media query */
/*
@media (max-width: 1250px){
    .presentation_Section{
        padding: 0% 0% 90% 0%;
    }
}
@media (max-width: 600px){
    .presentation_Section{
        padding: 0% 0% 160% 0%;
    }
}
@media (max-width: 992px) {
    .about_Me_Section, .experience_Section{
        padding: 30% 10% 80% 10%;
    }
    .image{
        margin: 25% 0 25% 25%;
    }
} */

/*Certificados*/
.certifications_Section{
    background-image: linear-gradient( 315deg, rgb(0, 0, 0) 70%,#004f47);
}
swiper-container {
    margin: 20px auto;
    width: 320px;
    height: 240px;
}
.swiperDiv{
    margin: 0 250px;
    gap: 50px;
    justify-content: center;
}
.swiperDiv h3, .swiperTopDiv h3{
    text-align: center;
    color: white;
}

swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 0 50px;
}
.mySwiper:nth-child(1n){
    background-color: rgb(0, 36, 135);
}
.mySwiper2:nth-child(1n) {
    background-color: rgb(54, 94, 77);
}
.mySwiper3:nth-child(1n) {
    background-color: #21155e;
}
swiper-slide:nth-child(2n) {
background-color: #2f2f65;
}
swiper-slide:nth-child(3n){
background-color: #006492;
}
swiper-slide:nth-child(4n) {
background-color: rgb(60, 0, 0);
}
swiper-slide:nth-child(5n) {
background-color: rgb(0, 72, 71);
}
swiper-slide:nth-child(6n) {
background-color: rgb(63, 0, 79);
}
swiper-slide:nth-child(7n) {
background-color: rgb(35, 99, 19);
}
swiper-slide:nth-child(8n) {
background-color: rgb(0, 29, 110);
}
swiper-slide:nth-child(9n)  {
background-color: rgb(44, 0, 38);
}

swiper-slide:nth-child(10n) {
background-color: rgb(54, 94, 77);
}
swiper-slide a{
    color: white;
    font-family: auto;
    font-size: 16px;
}
swiper-slide a:hover{
    color: rgb(197, 197, 0);
    transition: 2ms;
}
.swiperTextAndLink{
    display: flex;
    flex-direction: column;
    align-items: center;
}