@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
/* body */
body{
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;
}
/* NavBar */
.nav_Bar_Cor{
    background-color: rgb(27, 27, 27);
}
.nav_Bar_Items_Font_Color{
    color: white;
    text-shadow:3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000;
}
.nav_Items_Center{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}
.nav_Bar_Items_Gap{
    gap: 5%;
    width: 125%;
}
/* icones */
.social_Media_Icons_Div{
    margin: 0% 0px 6% -6.5%;
    gap: 10px;
}
/* Section */
section{
    height: 100%;
}
.about_Me_Section{
    background-image: linear-gradient( 135deg, rgb(0, 0, 0) 70%, rgb(46, 46, 116));
    padding: 0 10% 10% 10%;
}
.about_Me_Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about_Me_Description_Div{
    width: 45%;
}
.header_Statement{
    padding-top: 10%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow:3px 5px 3px #000000,
                3px 5px 3px #000000,
                3px 5px 3px #000000,
                3px 5px 3px #000000;
}
.about_Me_Description{
    text-align: justify;
    color: white;
    font-size: 120%;
}
.about_Me_Description span{
    color: rgb(0, 140, 255);
}
.image{
    margin: 45% 0 25% 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.border{
    width: 50%;
    outline: thick double #0044ff;
    padding: 20%;
    margin: -80% 40%;
}

@media (max-width: 992px) {
    .about_Me_Section {
        padding: 0px 10% 80% 10%;
    }
    .image{
        margin: 25% 0 25% 25%;
    }
}
