@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
/* body */
body{
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
}
/* NavBar */
.nav_Bar_Cor{
    background-color:#1f1f1f;
}
.nav_Bar_Items_Font_Color{
    color: white;
    text-shadow:3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000;
}
.nav_Items_Center{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}
.nav_Bar_Items_Gap{
    gap: 5%;
    width: 125%;
}

/* icones */
.social_Media_Icons_Div{
    left: 3%;
    top: 80%;
    gap: 10px;
}
a {
    color: #caa971;
    text-decoration: underline;
}

/* Section */
.containerHeight_700px{
    height: 700px;
}
section{
    height: 100%;
}
.container{
    max-width: 1048px;
    padding-top: 10%;
}

.align_Color_Fw_Ts{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow:3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000,
    3px 5px 3px #000000;
}

/*TITLES*/
h1{
    margin-bottom: 30px;
}

/*
BAACKGROUND MAIS ESFURMAÇADO - Flávio
background: rgb(0,0,0);
    background: -moz-linear-gradient(327deg, rgba(0,0,0,1) 0%, rgba(72,121,126,1) 220%);
    background: -webkit-linear-gradient(327deg, rgba(0,0,0,1) 0%, rgba(72,121,126,1) 220%);
    background: linear-gradient(327deg, rgba(0,0,0,1) 60%, rgba(72,121,126,1) 220%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColo

*/
/* SECTION PRESENTATION */
.presentation_Section{
    background-image: linear-gradient( -45deg, rgb(0, 0, 0) 75%,#48797e);
    display: flex;
    align-items: center;
}


.welcome_Statement, .about_Me_Description, .experience_Description{
    margin-bottom: 0;
    text-align: justify;
    color: white;
}
.welcome_Statement_PColor{
    color:#00ff99;
}
.little_Intro{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
/* SECTION ABOUT ME */
.about_Me_Section{
    background-image: linear-gradient( 135deg, rgb(0, 0, 0) 70%,#56cec2);
}
.about_Me_Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about_Me_Description_Div{
    width: 45%;
}
.about_Me_Description, .experience_Description{
    transition: 1s;
    font-size: 16px;
}

.about_Me_Description_Text{
    margin-bottom: 5%;
}

.about_Me_Description_Text h5:hover{
    transition: 0.5s;
    background-color: #00408f35;
    box-shadow: 5px 5px 13px 13px #00408f39;
}
.about_Me_Description_Text span:hover{
    transition: 0.5s;
    background-color: #1e00ff56;
    font-weight: bold;
}
.about_Me_Description span{
    color:#00e1ff;
}
.divImgAboutMe{
    height: 226px;
}
.image{
    width: 45%;
    display: flex;
    justify-content: center;
    position: relative;
}
.border{
    width: 45%;
    outline: #3c1f80 double thick;
    padding: 20%;
    margin: -50% 0 0 40%;
    background-image: url(black-background.png);
}
.social_Media_Icons_Div2{
    display: none;
}

/* Experience */
.experience_Section{
    background-image: linear-gradient( 45deg, rgb(0, 0, 0) 70%,#56cec2);
}
.experience_Description span{
    color:#00ffaa;
}
.tech_Logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 500px;
}
.tech_Logos img:hover{
    height: 15%;
}
/* PROJECTS */
.carousel-dark button span{
    transition:0.4s;
    background-color:black;
}
.card-body{
    text-align: center;
}
.projects_Section{
    background-image: linear-gradient( 225deg, rgb(0, 0, 0) 70%,#004f47);
}
.card {
    transition:0.4s;
    display: grid;
    align-items: center;
    width: 18rem;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-image: url(black-background.png);
}
.card:hover{
    transition: 0.2s ease-in;
    background-size: cover;
    background-position: center;
    background-image: url(black-background.jpg);
}
.card h5{
    color:white;
}
.card h6{
    color : #ffbc00;
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #00ffe7;
}
.carousel-control-next, .carousel-control-prev{
    top: 45%;
    height: 10%;
}
.ul li{
    color: white;
}

/* media query */

@media (max-width: 1250px){
    section{
        display: inline-table;
    }
    .social_Media_Icons_Div a{
        display: none;
    }
    .divImgAboutMe{
        display: flex;
        justify-content: center;
    }
    .image{
        margin: 10% 0 5% 0;
        max-width: 160px;
        border-radius: 100%;
        width: 100%;
    }
    .centerDivImgMobile{
        justify-content: center ;
        margin-bottom: 5%;
    }
    .divImgAboutMe{
        display: flex;
        justify-content: center;
        }
    .border{
        display: none;
    }
    .container{
        /* max-width: 376px; */
        width: auto;
        padding-top: 10%;
    }
    .social_Media_Icons_Div2{
        display: flex;
        gap: 13px;
    }
    .swiperDiv{
        display: flex;
        flex-direction: column;
        margin: 0 !important;
    }
}


/*Certificados*/
.sectionCertifications{
    padding-top: 0%;
}
.certifications_Container{
    background-image: linear-gradient( 315deg, rgb(0, 0, 0) 70%,#004f47);
}

swiper-container {
    margin: 20px auto;
    width: 320px;
    height: 240px;
}
.swiperDiv{
    margin: 0 25%;
    gap: 50px;
    justify-content: center;
}
.swiperDiv h3, .swiperTopDiv h3{
    text-align: center;
    color: white;
}

swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 0 50px;
}
.mySwiper:nth-child(1n){
    background-color: rgb(0, 36, 135);
}
.mySwiper2:nth-child(1n) {
    background-color: rgb(54, 94, 77);
}
.mySwiper3:nth-child(1n) {
    background-color: #21155e;
}
swiper-slide:nth-child(2n) {
background-color: #2f2f65;
}
swiper-slide:nth-child(3n){
background-color: #006492;
}
swiper-slide:nth-child(4n) {
background-color: rgb(60, 0, 0);
}
swiper-slide:nth-child(5n) {
background-color: rgb(0, 72, 71);
}
swiper-slide:nth-child(6n) {
background-color: rgb(63, 0, 79);
}
swiper-slide:nth-child(7n) {
background-color: rgb(35, 99, 19);
}
swiper-slide:nth-child(8n) {
background-color: rgb(0, 29, 110);
}
swiper-slide:nth-child(9n)  {
background-color: rgb(44, 0, 38);
}

swiper-slide:nth-child(10n) {
background-color: rgb(54, 94, 77);
}
swiper-slide a{
    transition: 0.5s;
    color: white;
    font-family: auto;
    font-size: 16px;
}
swiper-slide a:hover{
    color: rgb(197, 197, 0);
    transition: 2ms;
}
.swiperTextAndLink{
    display: flex;
    flex-direction: column;
    align-items: center;
}
swiper-slide a:hover{
    transition: 0.5s;
    font-size: 24px;
}